{% extends "base.html" %}

{% block content %}
<form action="/view" method="POST" class="form-create mx-auto">
    <div class="input-group mb-3">
        <span class="input-group-text">#</span>
        <div class="form-floating">
          <input name="tableNum" type="number" class="form-control" id="floatingInputGroup1" placeholder="Table Number" value="{{ table.tableNum }}" required>
          <label for="floatingInputGroup1">Table Number</label>
        </div>
      </div>
    <div class="input-group mb-3">
        <span class="input-group-text">#</span>
        <div class="form-floating">
          <input name="seatsNum" type="number" class="form-control" id="floatingInputGroup1" placeholder="Number of seats" max="10" min="1" value="{{ table.totalSeats }}" required>
          <label for="floatingInputGroup1">Number of seats</label>
        </div>
      </div>
      <div class="grid text-center Tgrid justify-content-center">
        {% for i in range(1,11) %}
        <div class="input-group mb-3 p{{ i }}">
            <span class="input-group-text" id="basic-addon1">
              <div class="form-check form-switch fs-3 col">
                <input name="switch{{ i }}" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" {% if table.people[i-1] in table.arrived %} checked {% endif %}>
            </div>
            {{ i }}.
            </span>
            <input autocomplete="off" value="{{ table.people[i-1] }}" name="p{{ i }}" type="text" class="form-control" placeholder="First Name & Last Name" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary justify-content-center btnG">Save Changes</button>
      </div>
      <input type="hidden" value="E" name="action">
      <input type="hidden" value="{{ table.id }}" name="id">
</form>
{% endblock %}
